DATABASE_URI=postgresql://user@localhost:5432/whale-next
HOST=
UPLOAD_PATH=
UPLOAD_SERVE_PATH=
ONELOGIN_HOST=
ONELOGIN_CLIENT_ID=
ONELOGIN_CLIENT_SECRET=
JWT_SECRET=
CRON_KEY=
BOTTOM_TEXT=
FEISHU_CLIENT_ID=
FEISHU_CLIENT_SECRET=
FEISHU_AI_CLIENT_ID=
FEISHU_AI_CLIENT_SECRET=
FEISHU_AILY_AGENT_ID=
HOCUSPOCUS_PORT=1234
NEXT_PUBLIC_HOCUSPOCUS_URL=ws://127.0.0.1:1234
