DATABASE_URI=postgresql://user@localhost:5432/helium
HOST=
UPLOAD_PATH=
UPLOAD_SERVE_PATH=
BACKUP_PATH=
SERVER_ACTIONS_ALLOWED_ORIGINS=
ONELOGIN_HOST=
ONELOGIN_CLIENT_ID=
ONELOGIN_CLIENT_SECRET=
JWT_SECRET=
FFMPEG_PATH=
CRON_KEY=
FEISHU_CLIENT_ID=
FEISHU_CLIENT_SECRET=
FEISHU_AI_CLIENT_ID=
FEISHU_AI_CLIENT_SECRET=
FEISHU_AILY_AGENT_ID=
NEXT_PORT=52323
HOCUSPOCUS_PORT=1234
HOCUSPOCUS_INTERNAL_URL=http://127.0.0.1:1234
NEXT_PUBLIC_HOCUSPOCUS_URL=ws://127.0.0.1:1234
